<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - StarColonies</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <script src="https://kit.fontawesome.com/23635b0850.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&family=Kumbh+Sans:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body class="mh-100">
<!-- Navigation Bar -->
<nav class="navbar py-3">
    <div class="container">
        @if (ViewData["HideNavButtons"] == null)
        {
            <!-- Mode normal avec logo à gauche et boutons à droite -->
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="~/img/logo.png" alt="Logo Starcolonies" height="80">
            </a>
            <div class="d-flex">
                <a class="btn btn-outline-accent me-2" asp-area="" asp-page="/Login">Connexion</a>
                <a class="btn btn-accent" asp-area="" asp-page="/Register">Inscription</a>
            </div>
        }
        else
        {
            <!-- Mode authentification avec logo centré -->
            <div class="w-100 text-center">
                <a class="navbar-brand mx-auto" asp-area="" asp-page="/Index">
                    <img src="~/img/logo.png" alt="Logo Starcolonies" height="80">
                </a>
            </div>
        }
    </div>
</nav>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer>
    <div class="container">
        <p class="text-light small text-center">&copy; 2025 Laudrikx Games - StarColonies: The Age of Middleware</p>
    </div>
</footer>

<!-- Scripts -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
@await RenderSectionAsync("Styles", false)
</body>
</html>