@page
@model StarColonies.Web.Pages.Login
@{
    ViewData["Title"] = "Connexion";
    ViewData["HideNavButtons"] = true; // Variable pour indiquer au layout de ne pas afficher les boutons login/register
}

<div class="d-flex justify-content-center align-items-center py-5">
    <div class="login-container hall-of-fame">
        <h3 class="py-3 mb-0 text-center fw-bold font-barlow login-header">CONNEXION</h3>

        <div class="p-4">
            <form method="post" class="mt-3">
                <div class="mb-4">
                    <label asp-for="Input.Identifiant" class="form-label">Indetifiant</label>
                    <input asp-for="Input.Identifiant" class="form-control login-input" placeholder="Mail ou nom du colon" />
                    <span asp-validation-for="Input.Identifiant" class="text-danger"></span>
                </div>

                <div class="mb-4">
                    <label asp-for="Input.Password" class="form-label">Mot de passe</label>
                    <input asp-for="Input.Password" type="password" class="form-control login-input" placeholder="motdepasse123" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="mt-5">
                    <button type="submit" class="btn btn-login w-100 py-2">
                        SE CONNECTER
                    </button>
                </div>
            </form>

            <div class="text-center mt-4">
                <p class="mb-1">Vous n'avez pas de compte ? <a href="/Register" class="text-accent-link">Créer un compte</a></p>
                <p><a href="/ForgotPassword" class="text-accent-link">Mot de passe oublié ?</a></p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}