@page
@model StarColonies.Web.Pages.MissionSucessful


<div class="container text-center mt-5">
    <i class="fas fa-trophy" style="font-size: 5rem; color: var(--primary-color);"></i>
    <h1 class="display-4 fw-bold mt-4">Mission Réussie !</h1>
    <p class="lead">Exploration de la base abandonnée</p>
    <div class="mt-3 d-flex justify-content-center align-items-center">
        <div class="d-flex align-items-center mx-3">
            <i class="fas fa-gem" style="font-size: 2rem; color: var(--accent-color);"></i>
            <span class="ms-1" style="font-size: 1.5rem;">+1</span>
        </div>
        <div class="d-flex align-items-center mx-3">
            <i class="fas fa-coins" style="font-size: 2rem; color: var(--accent-color);"></i>
            <span class="ms-1" style="font-size: 1.5rem;">+1</span>
        </div>
        <div class="d-flex align-items-center mx-3">
            <i class="fas fa-scroll" style="font-size: 2rem; color: var(--accent-color);"></i>
            <span class="ms-1" style="font-size: 1.5rem;">+1</span>
        </div>
    </div>

    <div class="mt-3 p-3 border" style="border-color: var(--primary-color);">
        <p>Chaque utilisateur a augmenté d'un niveau</p>
    </div>
    
    
</div>